---
// Astro template component to wrap the repeated HTML structure around content.
let { title = "" } = Astro.props;
const titleStart = "edj-work on GitLab.io";
if (title != "") {
	title = ": "+title;
} else {
	title = ", a Web project by Edward D. Jones: main page";
}
title = titleStart+title;
// The HTML includes a UTF-8 character encoding meta element to allow Markdown rendering.
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" type="image/png"
			href="/CC0-1.0-Universal-Public-Domain-Dedication-Wikimedia-Commons-Markdown-mark.svg.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="A website to show the projects under group 'edj-work' on GitLab." />
    	<meta name="og:title" content={title} />
    	<meta name="og:description" content="A website to show the projects under group 'edj-work' on GitLab." />
		<style is:inline>
			/* Un-scoped as-is CSS out of behind-the-scene Astro component encapsulation. */
			@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
			* {
				font-family: 'Victor Mono', sans-serif;
				font-optical-sizing: auto;
				font-weight: 300;
				font-style: normal;
			}
		</style>
		<style>
			html, body {
				height: 100%;
				margin: 0 !important;
			}
			body > header {
				/* This may be un-supported on the project creator's small mobile browser. */
				background-color: rgba(0, 0, 0, 10%);
			}
			html, body, body > div {
				box-sizing: border-box !important;
				display: block;
				width: 100%;
			}
			body > div {
				overflow: auto;
				min-height: 90%; /* Not 100% - as fail-safe. */
				padding: 0em 1.04ch 1em 1.04ch;
			}
		</style>
		<!-- Import the template then use ' slot="extra-metadata"' on meta content in that HTML. -->
		<slot name="extra-metadata" />
	</head>
	<body>
		<header>
			<noscript>Warning: content that uses JavaScript is un-supported in your browser.<br/></noscript><!--
			--><a href="/"
				title="Go back to the website root page">&lt;-</a><!--
			--> | EDJ website | <!--
			--><a href="https://gitlab.com/edj-work/edj-work.gitlab.io"
				title="Go to the source of this GitLab group website">Source</a>
		</header>
		<div>
			<slot name="default" />
		</div>
	</body>
</html>
