---
// Astro template component to wrap the repeated HTML structure around content.
let { title = "" } = Astro.props;
if (title != "") {
	title += " - ";
}
title += "'edj-work' group on GitLab";
// Includes the UTF-8 character encoding meta element to allow Markdown rendering.
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" type="image/svg+xml" href="/Astro-favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="A website to show the projects under group 'edj-work' on GitLab." />
    	<meta name="og:title" content={title} />
    	<meta name="og:description" content="A website to show the projects under group 'edj-work' on GitLab." />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

			* {
				font-family: 'Victor Mono', sans-serif;
				font-optical-sizing: auto;
				font-weight: 300;
				font-style: normal;
			}
			html, body > div {
				width: 100%;
				height: 100%;
				margin: 0;
			}
			html, body, body > div {
				display: block;
			}
			body {
				margin: 1em 1.04ch;
			}
			body > div {
				overflow: auto;
			}
			body > div > *:first-child {
				margin-top: 0;
			}
		</style>
	</head>
	<body>
		<noscript>Warning: content that uses JavaScript is un-supported in your browser.<br/></noscript>
		<div>
			<slot />
		</div>
	</body>
</html>
