---
// Astro templated content.
import TemplateReference from "./_HTMLLayout.astro";
---
<TemplateReference>
  <style is:inline slot="extra-metadata">
    body {
      margin: 0em !important;
    }
    body > div > header {
      position: fixed;
      top: 0; left: 0;
      height: 2em;
    }
    body > div > iframe {
      margin-top: 2em;
      min-height: 95%; /* Not 100% - as fail-safe. */
    }
  </style>
  <header><a href="/"
    title="Go to home page at the website root">&lt;-</a> <a href="/projects/"
    title="Projects in this GitLab group">⁝</a> | EDJ website</header>
  <iframe src="/picker.html" title="Embedded document"
    loading="lazy" style="box-sizing: border-box; width: 100%; height: 120em; border: 0px;"></iframe>
</TemplateReference>